@use 'src/App/share/style/functions' as f;
@use 'src/App/share/style/mixins' as m;

.cards {
  display: flex;
  flex-wrap: wrap;
  &__item {
    padding: 0 10px;
    margin: 2px;
    flex: 1 1 auto;

    filter: invert(10%);
    @include m.hsl(background-color, 0, 0%, f.dayOrDark(95%, 5%));
    @include m.hsl(--border-color, 0, 0%, f.dayOrDark(5%, 95%));
    border: 1px dotted var(--border-color);
  }
}
