@use 'src/App/share/style/functions' as f;

.background {
  position: absolute;
  top: 0;
  left: 0;

  width: calc(100% - var(--sidebar-width));
  height: 100%;

  opacity: f.dayOrDark(0.08, 0.05);
  pointer-events: none;
  z-index: -1;
}
