@use "@app/share/style/functions" as f;
@use "@app/share/style/mixins" as m;

.content {
  position: absolute;
  line-height: 1.3;

  font-size: 1rem;
  margin-top: 10px;
  width: calc(100% - var(--sidebar-width));
  top: calc(var(--nav-tube-height) + 20px);
  height: calc(100% - var(--nav-tube-height) - 140px);

  .more-gap-list {
    & > li:not(:last-child), & > dd:not(:last-child) {
      margin-bottom: 0.75em;
    }
  }

  li::marker, .highlight {
    color: var(--highlight-color);
  }
  .big-text {
    font-size: 1.25rem;
  }

  .no-split {
    padding: 0 10px;
    overflow-y: auto;
    position: absolute;
    height: 100%;
  }
  .split-half {
    overflow-y: auto;
    height: 100%;

    display: flex;
    flex-direction: row;

    .page-break {
      display: none;
    }

    section {
      width: 100%;
      padding: 0 10px;
    }
  }
  .split-status {
    &__status {
      position: fixed;
      height: calc(100% - var(--nav-tube-height) - 140px);
      width: clamp(45px, 4vw, 75px);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      border-right: 1px dashed var(--highlight-color);
    }
    &__content {
      position: absolute;
      right: 0;
      width: calc(100% - clamp(45px, 4vw, 75px));
      height: 100%;
      overflow-y: auto;
      padding: 0 clamp(0px, 3vw, 20px);
      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none;
      scrollbar-width: none;
      scroll-behavior: smooth;
    }
    &__icon {
      opacity: 0.2;
      font-size: clamp(15px, 3vw, 25px);
      color: var(--highlight-color);
      background:none;
      border:none;
      margin:0;
      padding:0;
      cursor: pointer;
      &:hover {
        font-size: clamp(30px, 3vw, 40px);
      }
    }
  }
  .notbold{
    font-weight: normal;
  }
}

@media screen and (max-width: 768px) {
  .content {
    .split-half {
      flex-direction: column;
      .page-break {
        display: block;
      }
    }
    .split-status {
      &__status {
        height: clamp(35px, 3vw, 45px);
        width: 100%;
        flex-direction: row;
        border-right: none;
        border-bottom: 1px dashed var(--highlight-color);
      }
      &__content {
        top: clamp(45px, 3vw, 55px);
        height: calc(100% - clamp(55px, 3vw, 65px));
        width: 100%;
      }
    }
  }
}
