@use "@app/share/style/functions" as f;
@use "@app/share/style/mixins" as m;

.nav-mobile {
  display: block;
  position: absolute;

  font-size: 2.441rem;
  height: var(--nav-tube-height);
  margin: 0;
  padding: 10px;

  z-index: 2;
  &--pressed {
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.96;
  }
  &:not(&--pressed) &__item:not(&__item--button) {
    display: none;
  }
  &:not(&--pressed) .duck-hamburger__sunglasses {
    display: none;
  }

  &__button {
    font-size: 0;
    height: 60px;
    width: 60px;
    background: transparent;
    border: none;
    padding: 0;
    .duck-hamburger {
      width: 100%;
      height: 100%;
      &:hover,
      &:focus,
      &:active {
        @include m.hsl(--shadow-color, 0, 0%, f.dayOrDark(25%, 75%));
        filter: drop-shadow(0px 0px 6px var(--shadow-color));
        .duck-hamburger__sunglasses {
          display: block;
        }
      }
    }
  }

  &__item {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }
  &__link {
    display: inline-block;
    width: 100%;
    &:after {
      content: none;
    }
    &:link,
    &:visited {
      color: white;
    }
    &:hover {
      color: gray;
    }
    &--active {
      @include m.hsl(--color, 180, 0%, 70%);
      color: var(--color) !important;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    font-weight: bold;
    height: initial;
    width: calc(100% - 20px - var(--sidebar-width));
    list-style-type: none;
  }
}
