.nav-tube {
  position: absolute;
  display: block;
  margin: 10px;

  font-size: 2.441rem;
  height: var(--nav-tube-height);
  width: calc(100% - 20px - var(--sidebar-width));
  &__item {
    position: relative;
    display: inline-block;
    height: 100%;
    cursor: pointer;
  }
  &__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

    text-decoration: none;
    &:after {
      content: none;
    }
    &:hover {
      filter: invert(25%);
      z-index: 2;
    }
  }
  &__list {
    display: flex;
    justify-content: center;

    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    list-style-type: none;
  }
}
