@use "@app/share/style/functions" as f;
@use "@app/share/style/mixins" as m;

.letter {
  display: inline-block;
  position: relative;
  height: 100%;
  &:first-child {
    margin-left: -1px;
  }
  margin-left: -0.5px;
  margin-right: -1.1px;
  &-border {
    height: 100%;
    width: auto;
    &__path {
      stroke: var(--tube-stroke-color);
    }
  }
  &-mask {
    position: absolute;
    left: 0;

    height: 100%;
    width: auto;

    @include m.hsl(fill, 0, 0%, f.dayOrDark(97%, 5%));
  }
}
