@use 'src/App/share/style/functions' as f;
@use 'src/App/share/style/mixins' as m;

.sidebar-toggler {
  position: absolute;
  top: calc(var(--nav-tube-height) + 50px);
  right: var(--sidebar-width);
  font-weight: bold;
  width: 25px;
  height: 25px;

  pointer-events: initial;
  user-select: initial;

  font-size: 1rem;
  @include m.hsl(color, 0, 0%, f.dayOrDark(97%, 5%));
  @include m.hsl(background-color, 0, 0%, f.dayOrDark(5%, 95%));
  border: none;

  cursor: pointer;
  filter: saturate(0%);
  visibility: hidden;
  z-index: 1;

  transform: translateX(1500px);
  transition: transform 1s;
  &:after {
    content: 'x';
    display: inline-block;
  }
  &--appear {
    transform: translateX(0);
    visibility: visible;
    filter: none !important;
  }
  &:hover {
    opacity: 0.85;
    transition-delay: unset;
    &:after {
      animation: x-toggle 1s infinite linear forwards;
    }
    & + * {
      opacity: 0.85;
    }
  }
}

@keyframes x-toggle {
  0%, 50%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(22.5deg);
  }
  75% {
    transform: rotate(-22.5deg);
  }
}
