@use "@app/share/style/functions" as f;
@use "@app/share/style/mixins" as m;

.consumables-panel {
  font-size: 0.8em;
  user-select: none;
  &__checkbox {
    margin-left: 0.5em;
    input {
      margin-right: 0.3em;
    }
  }
}

.consumables-avg {
  display: flex;
  flex-wrap: wrap;
/*   gap: 20px; */

/*     display: inline-block; */
  font-size: 0.8em;
  .info-line {
    display: none;
  }
  .info-side {
    display: inline-block;
    margin: 0;
    width: 12em;
  }
  &__bar-container {
/*     display: inline-block; */
    position: relative;
    aspect-ratio: 16 / 9;
/*     width: 400px; */
    width: 30em;
  }
  & > ul {
    list-style-position: inside;
    list-style: none;
    padding-left: 0;
    ul {
      list-style-position: inside;
      padding-left: 1em;
    }
  }
}

.consumables-table {
  border-collapse: collapse;
  text-align: center;
  font-size: 0.8em;
  margin-top: 1em;

  colgroup {
    border: 1px solid var(--highlight-color);
  }
  tbody {
    border: 1px solid var(--highlight-color);
    td {
      padding: 0.1em;
    }
    tr {
      &:not(:last-child) {
        &:nth-child(even) {
          td:not([rowspan]) {
            @include m.hsl(background-color, 0, 0%, f.dayOrDark(90%, 10%));
          }
        }
      }
      &:last-child {
        text-decoration: underline;
      }
      td[rowspan] {
        border-right: 1px dashed var(--highlight-color);
      }
    }
    .last-tr-order {
      border-bottom: 1px solid var(--highlight-color);
    }
  }
}

@media screen and (max-width: 32em) {
  .consumables-avg {
    &__bar-container {
      width: 100%;
    }
    .info-line {
      display: block;
    }
    .info-side {
      display: none;
    }
  }
}
