.page-create {
  ul {
    padding-left: 1.25em;
    & li {
      line-height: 1.4;
      margin-bottom: 0.3em;
      .tooltip {
        line-height: initial;
      }
    }
  }
  .abandoned {
    opacity: 0.5;
  }
}
