@use "@app/share/style/functions" as f;
@use "@app/share/style/mixins" as m;

.notfound {
  position: absolute;
  display: grid;
  place-items: center;
  text-align: center;

  font-size: 2.441rem;
  padding: 20px;
  height: 100vh;
  width: 100vw;

  &--content {
    position: unset;
    height: unset;
    width: unset;
  }
  a {
    &:after {
      bottom: -2px;
      height: 4px;
    }
  }
}
