.fig-tooltip {
  display: inline-block;
  margin: 0.35em 0.7em 0.35em 0;
  &__wrapper {
    text-align: center;
    margin: 0 auto;
    & > img {
      width: 100%;
    }
  }
  &__caption {
    text-align: center;
  }
}
