.tooltip {
  font-size: 0.9em !important;
  cursor: help;
  background: var(--background-color) !important;
  color: var(--color) !important;
  border: 1px dotted var(--highlight-color) !important;
  opacity: 1 !important;
  ul {
    padding-left: 1em;
  }
  li {
    margin: 0;
  }
  &--withdelay {
    cursor: unset;
  }
}

.tooltip-front {
  cursor: help;
  text-decoration: underline;
}

.tooltip-img {
  border-bottom: 2px dotted var(--color);
  padding-bottom: 2px;
  margin-bottom: -4px;
}
